<!DOCTYPE html>
<html>
<head>
    <title>Login - Cozinet</title>
</head>

<body style="background:#0b0b0f;color:#fff;font-family:Arial;display:flex;justify-content:center;align-items:center;height:100vh;">

<div style="background:#15151c;padding:30px;border-radius:12px;width:340px;box-shadow:0 0 25px rgba(255,106,0,0.3);">

    <!-- EMBLEMA -->
    <div style="text-align:center;margin-bottom:10px;">
        <img src="https://i.ibb.co/p6D813mT/Cozinet-1.png" style="width:140px;">
    </div>

    <h2 style="text-align:center;color:#ff6a00;margin-bottom:20px;">
        PAINEL ANTIFRAUDE
    </h2>

    {% if erro %}
        <p style="color:red;text-align:center;">{{ erro }}</p>
    {% endif %}

    <form method="POST">
        <input name="email" placeholder="Email"
            style="width:100%;padding:12px;margin-bottom:10px;background:#111;border:none;color:#fff;border-radius:6px;">

        <input name="senha" type="password" placeholder="Senha"
            style="width:100%;padding:12px;margin-bottom:15px;background:#111;border:none;color:#fff;border-radius:6px;">

        <button style="width:100%;padding:12px;background:#ff6a00;border:none;border-radius:6px;font-weight:bold;">
            Entrar
        </button>
    </form>

</div>

</body>
</html>
